.contact-us {
  padding: 4rem 10rem;
}

.outer-container {
  padding-left: 5rem;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 0, 0, 0.85);
}

.inner-container {
  display: flex;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  color: black;
  padding: 3rem 2rem;
}

.form-container h1 {
  font-size: 3.5rem;
}

.form-container p {
  padding-left: 10px;
  font-size: 1.1rem;
}

.form-container form {
  padding-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  height: max-content;
}

.form-container form div {
  width: 45%;
}

form input,
form textarea {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  border-bottom: 2px solid black;
  transition: all 0.5s ease-in-out;
}

form input:hover,
form input:focus,
form textarea:hover,
form textarea:focus {
  border: solid rgb(0, 0, 0);
  border-radius: 10px;
}

input::placeholder,
textarea::placeholder {
  color: gray;
  font-size: 0.95rem;
}

.btn {
  padding: 12px 40px;
  border: 2px solid black;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  border-radius: 10px;
}

.btn:hover {
  background-color: black;
  color: white;
  border-radius: 10px;
}

@media screen and (max-width: 1200px) {
  .contact-us {
    padding: 4rem 1.5rem;
  }

  .outer-container {
    padding-left: 2rem !important;
  }

  .inner-container {
    flex-direction: column;
    height: 100%;
  }

  .img-container {
    width: 100%;
  }

  .form-container {
    padding: 1rem !important;
  }

  .form-container form div {
    width: 100% !important;
  }

  .form-container h1 {
    font-size: 3rem;
  }

  .form-container p {
    font-size: 0.9rem;
  }
}
